In [8]:
import pandas as pd
import numpy as np

In [16]:
veriler=np.random.randint(1,50,size=[4,5]) #numpy sınıfından 1 den 50 ye kadar 4 satır 5 sütunluk rastgele sayı oluşturduk.

In [17]:
veriler

array([[ 8, 46, 33, 10,  3],
       [49, 31,  3,  7, 30],
       [11, 37, 28,  9, 45],
       [ 4, 39, 30, 46, 25]])

In [21]:
df=pd.DataFrame(veriler)

In [19]:
df

    0   1   2   3   4
0   8  46  33  10   3
1  49  31   3   7  30
2  11  37  28   9  45
3   4  39  30  46  25

In [29]:
df=pd.DataFrame(veriler,columns=["s1","s2","s3","s4","s5"], index=["st1","st2","st3","st4"])
df

     s1  s2  s3  s4  s5
st1   8  46  33  10   3
st2  49  31   3   7  30
st3  11  37  28   9  45
st4   4  39  30  46  25

In [37]:
veriler=[["İrem","Keser",18],["Ceren","Keser",15]]

In [38]:
df=pd.DataFrame(veriler,columns=["Ad","Soyad","Yaş"],index=["Ögr1","Ögr2"])
df

         Ad  Soyad  Yaş
Ögr1   İrem  Keser   18
Ögr2  Ceren  Keser   15

In [43]:
df=pd.read_csv("diabetes_data_upload.csv")

In [44]:
df

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,Female,Yes,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No,No,No,Positive
516,48,Female,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Yes,Yes,No,No,No,Positive
517,58,Female,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,Yes,Positive
518,32,Female,No,No,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,No,Negative
519,42,Male,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Negative

In [45]:
df.head(5) # ilk 5 satırı gösterir.

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive

In [46]:
df.tail(2) #sondan 2 satırı gösterir.

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
518,32,Female,No,No,No,Yes,No,No,Yes,Yes,No,Yes,No,No,Yes,No,Negative
519,42,Male,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Negative

In [47]:
df.shape # satır vesütun sayısı

(520, 17)

In [49]:
df.iloc[:,0:5]

     Age  Gender Polyuria Polydipsia sudden weight loss
0     40    Male       No        Yes                 No
1     58    Male       No         No                 No
2     41    Male      Yes         No                 No
3     45    Male       No         No                Yes
4     60    Male      Yes        Yes                Yes
..   ...     ...      ...        ...                ...
515   39  Female      Yes        Yes                Yes
516   48  Female      Yes        Yes                Yes
517   58  Female      Yes        Yes                Yes
518   32  Female       No         No                 No
519   42    Male       No         No                 No

[520 rows x 5 columns]

In [50]:
df.info() # info veri seti ile genel bilgi verir.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 520 non-null    int64
 1   Gender              520 non-null    object
 2   Polyuria            520 non-null    object
 3   Polydipsia          520 non-null    object
 4   sudden weight loss  520 non-null    object
 5   weakness            520 non-null    object
 6   Polyphagia          520 non-null    object
 7   Genital thrush      520 non-null    object
 8   visual blurring     520 non-null    object
 9   Itching             520 non-null    object
 10  Irritability        520 non-null    object
 11  delayed healing     520 non-null    object
 12  partial paresis     520 non-null    object
 13  muscle stiffness    520 non-null    object
 14  Alopecia            520 non-null    object
 15  Obesity             520 non-null    object
 16  class               520 non-null    object
dtypes: int64(1), object(16)
memory usage: 69.2+ KB

In [51]:
df.ndim # veri setinin boyutunu verir.

2

In [52]:
df.size #veri setinde kaç adet veri olduğunu gösterir.

8840